{% extends "Admin/form_base.html.twig" %}
{% block formInCard %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
{%  endblock %}