{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block css %}  
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block body %}

    <div class="box_login">
        <div class="container_login">
    
            <div class="top_login">
                <h2>Se connecter</h2>
            </div>
            <form method="post">
            {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}

            <div class="input-field_login">
                <input type="text" value="{{ last_username }}" name="login" id="inputLogin form-control" class="input_login" autocomplete="username" placeholder="Login" required autofocus>
                <i class='bx bx-user oui' ></i>
            </div>
    
            <div class="input-field_login">
                <input type="password" name="password" id="inputPassword" class="input_login form-control" autocomplete="current-password" placeholder="Mot de passe" required>
                <i class='bx bx-lock-alt oui'></i>
            </div>
    
            <div class="input-field_login">
                <input type="submit" class="submit_login" value="Se connecter" id="">
            </div>
            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>  




{% endblock %}
