<form method="post" action="{{ path('app_offre_retenue_delete', {'id': offre_retenue.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre_retenue.id) }}">
        <div class="d-flex justify-content-center">
    <button class="btn btn-danger col-md-1">Supprimer</button>
    </div>
</form>
