{% extends 'base.html.twig' %}

{% block title %}Nouveau·elle CompteEtudiant{% endblock %}

{% block body %}
    <h1>Ajouter CompteEtudiant</h1>

    {{ include('Admin/compte_etudiant/_form.html.twig') }}

    <a href="{{ path('app_compte_etudiant_index') }}" class="btn btn-secondary col-md-1">Retour Liste</a>
{% endblock %}
