{% extends 'base.html.twig' %}

{% block title %}Nouveau·elle OffreConsultee{% endblock %}

{% block body %}
    <h1>Ajouter OffreConsultee</h1>

    {{ include('Admin/offre_consultee/_form.html.twig') }}

    <a href="{{ path('app_offre_consultee_index') }}" class="btn btn-secondary col-md-1">Retour Liste</a>
{% endblock %}
