{% extends 'base.html.twig' %}

{% block title %}Nouveau·elle EtatRecherche{% endblock %}

{% block body %}
    <button onclick="window.history.back();" class="btn btn-primary top-0 start-0 m-3"><i class="fa fa-arrow-left"></i> Retour</button>
    <h1 class="titre_a_centrer">Ajouter EtatRecherche</h1>

    {{ include('Admin/etat_recherche/_form.html.twig') }}

{% endblock %}
