<form method="post" action="{{ path('app_etudiant_delete', {'id': etudiant.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etudiant.id) }}">
        <div class="d-flex justify-content-center">
    <button class="btn btn-danger col-md-1" style="width: 200px;">Supprimer</button>
    </div>
</form>
