{% extends 'base.html.twig' %}

{% block title %}Edit Etudiant{% endblock %}

{% block body %}
     <button onclick="window.history.back();" class="btn btn-primary top-0 start-0 m-3"><i class="fa fa-arrow-left"></i> Retour</button>
    <h1 class="titre_a_centrer">Editer Etudiant</h1>

    {{ include('Admin/etudiant/_form.html.twig', {'button_label': 'Enregistrer'}) }}


    {{ include('Admin/etudiant/_delete_form.html.twig') }}
{% endblock %}
