<form method="post" action="{{ path('app_candidature_delete', {'id': candidature.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidature.id) }}">
    <button class="btn btn-danger col-md-1">Supprimer</button>
</form>
