{% extends 'base.html.twig' %}

{% block title %}Nouveau·elle Entreprise{% endblock %}

{% block body %}
    <h1>Ajouter Entreprise</h1>

    {{ include('Admin/entreprise/_form.html.twig') }}

    <a href="{{ path('app_entreprise_index') }}" class="btn btn-secondary col-md-1">Retour Liste</a>
{% endblock %}
