{% extends 'base.html.twig' %}

{% block title %}Edit CompteEtudiant{% endblock %}

{% block body %}
    <button onclick="window.history.back();" class="btn btn-primary top-0 start-0 m-3"><i class="fa fa-arrow-left"></i> Retour</button>
    <h1 class="titre_a_centrer">Editer Compte Etudiant</h1>

    {{ include('Admin/compte_etudiant/_form.html.twig', {'button_label': 'Enregistrer'}) }}
  
    {{ include('Admin/compte_etudiant/_delete_form.html.twig') }}
{% endblock %}
