<form method="post" action="{{ path('app_etat_offre_delete', {'id': etat_offre.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat_offre.id) }}">
    <button class="btn btn-danger col-md-1">Supprimer</button>
</form>
