<form method="post" action="{{ path('app_offre_consultee_delete', {'id': offre_consultee.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre_consultee.id) }}">
    <button class="btn btn-danger col-md-1">Supprimer</button>
</form>
