<form method="post" action="{{ path('app_entreprise_delete', {'id': entreprise.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entreprise.id) }}">
        <div class="d-flex justify-content-center">
    <button class="btn btn-danger col-md-1">Supprimer</button>
    </div>
</form>
